.con1{
    margin-left: 450px;
    padding-top: 100px;
    color: white;
}
.con1 h1{
    margin-left: 170px;
    margin-bottom: 30px;
}

.back1{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d84f67139f5c013ae7e9a3f/1569510720404-HIJTI5DN6T7SUCDS0WFF/contact+us+page+background.png?format=2500w");
}

.text-center{
    margin-right: 500px;
}